absl-py==2.1.0
accessible-pygments==0.0.5
alabaster==0.7.16
annotated-types==0.7.0
array_record==0.5.1
astunparse==1.6.3
attrs==24.2.0
babel==2.16.0
bddl==3.5.0
beautifulsoup4==4.12.3
bleach==6.1.0
blis==1.0.1
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.20.0
cloudpickle==3.0.0
commonmark==0.9.1
confection==0.1.5
contourpy==1.2.1
cycler==0.12.1
cymem==2.0.10
defusedxml==0.7.1
dlimp @ git+https://github.com/moojink/dlimp_openvla@040105d256bd28866cc6620621a3d5f7b6b91b46
dm-tree==0.1.8
docstring_parser==0.16
docutils==0.21.2
draccus==0.9.1
easydict==1.13
egl_probe==1.0.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
etils==1.7.0
evdev==1.7.1
fastjsonschema==2.20.0
filelock==3.15.4
flatbuffers==24.3.25
fonttools==4.53.1
fsspec==2024.6.1
future==1.0.0
gast==0.6.0
glfw==2.7.0
google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
grpcio==1.65.5
gym==0.26.2
gym-notices==0.0.8
h5py==3.11.0
huggingface-hub==0.25.1
idna==3.7
imageio==2.35.1
imageio-ffmpeg==0.5.1
imagesize==1.4.1
immutabledict==4.2.0
importlib_resources==6.4.3
iniconfig==2.0.0
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyterlab_pygments==0.3.0
jupytext==1.16.4
keras==2.15.0
kiwisolver==1.4.5
langcodes==3.5.0
language_data==1.3.0
libclang==18.1.1
llvmlite==0.43.0
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdit-py-plugins==0.4.2
mdurl==0.1.2
mergedeep==1.3.4
mistune==3.0.2
ml-dtypes==0.2.0
mpmath==1.3.0
mujoco==3.2.2
murmurhash==1.0.11
mypy-extensions==1.0.0
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nbsphinx==0.9.5
networkx==3.3
nltk==3.9.1
numba==0.60.0
numpy==1.23.5
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.20
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
opencv-python==4.10.0.84
OpenEXR==3.3.0
opt_einsum==3.4.0
optree==0.12.1
pandocfilters==1.5.1
pillow==10.4.0
pluggy==1.5.0
preshed==3.0.9
promise==2.3
protobuf==3.20.3
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.3
pydantic_core==2.27.1
pydata-sphinx-theme==0.15.4
pynput==1.7.7
PyOpenGL==3.1.7
pyparsing==3.1.2
pytest==8.3.3
python-xlib==0.33
PyYAML==6.0.2
pyyaml-include==1.4.1
recommonmark==0.7.1
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.8.1
rpds-py==0.20.0
rsa==4.9
safetensors==0.4.5
scipy==1.14.1
shellingham==1.5.4
simple_parsing==0.1.5
smart-open==7.0.5
snowballstemmer==2.2.0
soupsieve==2.6
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==8.0.2
sphinx-book-theme==1.1.3
sphinx-markdown-tables==0.0.17
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
srsly==2.4.8
sympy==1.13.2
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.15.0
tensorflow-addons==0.23.0
tensorflow-datasets==4.9.6
tensorflow-estimator==2.15.0
tensorflow-graphics==2021.12.3
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.15.0
termcolor==2.4.0
tfds-nightly==4.9.6.dev202408270044
thinc==8.3.2
timm==1.0.9
tinycss2==1.3.0
tokenizers==0.20.0
toml==0.10.2
tomli==2.0.1
torch==2.4.0
torchvision==0.19.0
tqdm==4.66.5
transformers==4.45.1
trimesh==4.4.9
triton==3.0.0
typeguard==2.13.3
typer==0.15.0
typing-inspect==0.9.0
urllib3==2.2.2
wasabi==1.1.3
weasel==0.4.1
webencodings==0.5.1
Werkzeug==3.0.3
wrapt==1.14.1
